<!DOCTYPE html>
<html>
<head>
  <title>Register - Smile Time Video Call</title>
  <style>
    /* Internal CSS design */
    body {
      background-color: #6b70cd;
      font-family: Arial, sans-serif;
      margin: 0;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 35px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 50px;
    }
    
    input[type="email"],
    input[type="password"],
    input[type="text"] {
      width: 100%;
      cursor: pointer;
      height: 30px;
      padding: 20px;
      margin: 20px 20px;
      border-radius: 55px;
      border: 2.5px solid #6b70cd;
      box-sizing: border-box;
      font-size: 20px;
    }
    
    input[type="submit"] {
      background-color: #232bc5;
      color: white;
      padding: 10px 60px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-size: 20px;
    }
    
    input[type="submit"]:hover {
      background-color: #535ae2;
      
    }
    
    h1 {
      text-align: center;
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Create Account</h1>
    <form method="post">
      <label for="name">Enter Your Name</label>
      <input type="text" name="name" placeholder="name">
      <label for="email">Enter Your Email</label>
      <input type="email" name="email" placeholder="email">
      <label for="password">Enter Your Password</label>
      <input type="password" name="password" placeholder="password">
      
        
         
         <br>
      <input type="submit" value="Create">
    </form>
  </div>
</body>
</html>
